/* You can add global styles to this file, and also import other style files */
.main-block {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    color: rgb(33, 37, 41);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.heading {
    text-align: center;
}

.search-bar input {
    width: 241px;
    height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(206, 212, 218);
    border-radius: 4px;
    padding: 6px 12px 6px 0;
}

.search-bar input:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.search-bar input[disabled] {
    background-color: rgb(233, 236, 239)
}

.content-table {
    margin: 15px 0px;
}

.content-table p {
    text-align: center;
}

.content-table table {
    width: 100%;
    text-align: center;
}

.content-table table th {
    font-weight: 700;
}

.content-table table td,
th {
    padding: 8px;
}

.content-table table tbody td,
th {
    border-bottom: 2px solid rgb(222, 226, 230);
}

.loader {
    display: flex;
    justify-content: center;
}

.loader img {
    height: 200px;
    width: 200px;
}

.pagination select {
    width: 241px;
    height: 38px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(206, 212, 218);
    border-radius: 4px;
    padding: 6px 12px 6px 0;
}

.pagination input:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}